@import '../../node_modules/normalize.css/normalize.css'
@import './highlight.js-atom-one-light'

// Grid
// Base Styles
// Typography
// Links
// Buttons
// Forms
// Lists
// Code
// Tables
// Spacing
// Utilities
// Clearing
// Media Queries

body
  padding: 20px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF
